body {
	margin: 0px;
	padding: 0px;
	align-content: center;
}

h1 {
	text-align: center;
	font-size: 175%;
}

div {
	background-color: #BABABA;
	border: 1px solid black;
   	margin: 20px;
	position: relative;
}

p {
	top: 0;
	right: 0;
	width: 100px;
	border: 1px solid black;
	margin: 0px;
	padding: 10px;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	float: right;
}

#vegan {
	background-color: #A52A2A;
	
}
#kosher {
	background-color: #DEB887;
	color: white;
}
#fast-food {
	background-color: #5F9EA0;
}
section {
	clear: right;
	margin: 0px;
	padding: 15px;
}